tensorboard==1.13.1
tensorflow-gpu==1.15.4
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
jsonschema==2.6.0
Markdown==3.0.1
MarkupSafe==1.1.0
matplotlib==3.0.3
numpy==1.16.2
pandas==0.24.1
h5py==2.9.0
scipy==1.2.0
librosa
python_speech_features
pyeer
ipykernel==5.1.0
ipython==7.2.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
jedi==0.13.2
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.3.1
jupyter-console==6.0.0
jupyter-core==4.4.0
tqdm
